body{
    margin: 0;
}
@keyframes start {
    0%{opacity: 0.6;}
    100%{opacity: 1;}
}
.Home_main_div{
    width: 100%;
    height: 100vh;
    background-image:url(a89819dc4c4c625d31ae.jpg);
    background-size: cover;
    animation-name: start;
    animation-duration: 1s;
    
    
}
.Home_title_div{
    position: absolute;
    left: 50%;
    top: 38%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
}
.Home_title_div .name{
    font-size: 40px;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Home_title_div .disc{
    font-size: 25px;
    font-weight: 300;
}
.Home_links_div{
    position: absolute;
    left: 50%;
    top: 58%;
    transform: translate(-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    gap: 20px;
    
}
.Home_links_div .link{
    font-size: 25px;
    text-decoration: none;
    color: azure;
    border-color: rgb(32, 32, 32);
    transition: 0.2s;
    border-bottom: 0px solid rgb(32, 32, 32);
    border-right: 0px solid rgb(32, 32, 32);
    border-width: 0%;
    background-color: rgba(0, 0, 0, 0);

}

.Home_links_div .link:hover{
    font-size: 25px;
    text-decoration: none;
    color: azure;
    transition: 0.2s;
    border-bottom: 1px solid rgb(32, 32, 32);
    border-right: 1px solid rgb(32, 32, 32);
    border-width: 100%;
    background-color: rgba(0, 0, 0, 0.24);
}


@keyframes start2 {
    0%{opacity: 0.9;}
    100%{opacity: 1;}
}
.Projects_main_div{
    width: 100%;
    height: 100vh;
    background-color: rgb(35, 35, 35);
    display: flex;
    flex-direction: row;
    animation-name: start2;
    animation-duration: 1s;
}
.Projects_navbar_div{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:top;
    align-items: center;
}
.Projects_show_div{
    width: 85%;
    height: 100%;
    background-color: rgb(41, 41, 41);
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-y: scroll;
}
.Projects_show_div::-webkit-scrollbar{
    width: 6px;
}
.Projects_show_div::-webkit-scrollbar-thumb{
    background-color: rgb(15, 15, 15);
    border-radius: 30px;
}
.Projects_show_div::-webkit-scrollbar-track{
    background-color: rgb(54, 54, 54);
    border-radius: 30px;
}
.Projects_navbar_title_div{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 10%;
    border-bottom: 1px solid black;
}
.Projects_navbar_title{
    font-size: 30px;
    color: aliceblue;
}
.Projects_navbar_link_div{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 1px;
}
.Projects_navbar_link_div .link{
    background-color: rgb(47, 47, 47);
    color: aliceblue;
    width: 100%;
    height: 33%;
    display: flex;
    justify-content:left ;
    align-items: center;
    text-decoration: none;
    font-size: 25px;

    transition: 0.3s;
    padding-left: 15px;
    
}
.Projects_navbar_link_div .link:hover{
    background-color: rgb(47, 47, 47);
    color: aliceblue;
    width: 100%;
    height: 33%;
    display: flex;
    justify-content:left ;
    align-items: center;
    text-decoration: none;
    font-size: 25px;

    transition: 0.3s;
    padding-left: 50px;
    
}
.card_main_div{
    width: 350px;
    height: 300px;
    background-size: 350px 300px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    margin: 15px;
    border-radius: 10px;
}
.card_info_div{
    background-color: rgba(26, 26, 26, 0.897);
    transition: 0.4s;
    width: 100%;
    height: 30%;
    padding-left: 40px;
    padding-top: 10px;
    opacity: 1;
}
.card_info_div:hover{
    background-color: rgba(26, 26, 26, 0.968);
    transition: 0.4s;
    width: 100%;
    height: 40%;
    padding-left: 40px;
    padding-top: 10px;
    opacity: 1;
}
.card_info_div label{
    font-size: 25px;
    margin: 0;
    color: rgb(202, 202, 202);
}
.card_info_div p{
    font-size: 15px;
    margin: 0;
    color: rgb(202, 202, 202);
}
.card_button_div{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: 5px;
    gap: 10px;
}
.card_button_div a{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}
.card_button_div .link{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}
.card_button_div a:hover{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    transition: 0.3s;
    border-bottom: 1px solid rgb(32, 32, 32);
    border-right: 1px solid rgb(32, 32, 32);
    border-width: 100%;
    background-color: rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}
.card_button_div .link:hover{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    transition: 0.3s;
    border-bottom: 1px solid rgb(32, 32, 32);
    border-right: 1px solid rgb(32, 32, 32);
    border-width: 100%;
    background-color: rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}
.About_show_div{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 85%;
    height: 100%;
    background-color: rgb(41, 41, 41);
}
.About_show_div h1{
    font-size: 30px;
    color: aliceblue;
    border-bottom: 1px solid white;
}
.About_show_div p{
    font-size: 20px;
    color: aliceblue;
    width: 50%;
}
.Project_detail_show_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 100%;
    background-color: rgb(41, 41, 41);
    
}
.Project_detail_div{
    display: flex;
    flex-direction: row;
    justify-content:top;
    align-items: center;
    gap: 110px;
}
.Project_detail_img{
    width: 400px;
    height: 400px;
}
.Project_detail_info{
    display: flex;
    flex-direction: column;
    justify-content:top;
    align-items: left;

}
.Project_detail_name{
    font-size: 30px;
    color: aliceblue;
    border-bottom: 1px solid white;
}
.Project_detail_intro{
    font-size: 20px;
    color: aliceblue;
    max-width: 400px;
}
.Project_detail_btn_div{
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items: left;
    gap: 20px;
}
.Project_detail_btn_div a{
    text-decoration: none;
    color: rgb(54, 161, 255);
    font-size: 20px;
    transition: 0.3s;
    background-color: rgba(54, 161, 255, 0);
}
.Project_detail_btn_div .link{
    text-decoration: none;
    color: rgb(49, 159, 255);
    font-size: 20px;
    transition: 0.3s;
    background-color: rgba(54, 161, 255, 0);
}

.Project_detail_btn_div a:hover{
    text-decoration: none;
    color: rgb(54, 161, 255);
    font-size: 20px;
    transition: 0.3s;
    background-color: rgba(54, 161, 255, 0.232);
}
.Project_detail_btn_div .link:hover{
    text-decoration: none;
    color: rgb(54, 161, 255);
    font-size: 20px;
    transition: 0.3s;
    background-color: rgba(54, 161, 255, 0.238);

}

/*# sourceMappingURL=index.css.map*/